bitrix/
images/
upload/
_*
node_modules/
dist/
target/
.idea/
.DS_Store
Thumbs.db

!.gitignore
*.class
*.py[cod]
*.log
*.jar
*.app
*.exe
*.war
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
*.xml
*.csv
.htaccess
robots.txt