/*.bx_my_order_cancel a{
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

.i_work_content a:first-child {
    background-color: #0073a3;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}*/